
<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">

<div class="container">
  <!--Nav bar to search compnanies-->
  <div class="nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" role="search" method="get" action="http//www.google.com/search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Comapany!" value="">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
            <div class="pull-left">
              <a class="btn btn-success" [routerLink]="['/homepage']" >Back to Dashboard</a>
            </div>
        </div>
      </div>
    </nav>      
  </div>

  <!--Display Google Maps-->
  <div class="googlemaps"> 
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>

  <!--Display Comapny details-->

  <div class="editbutton">
    <button (click)="editCompany()" class="btn btn-default">Edit Company Details</button>
  </div>

  <div class="displaycompany">
    <legend> {{displayOneComp.name}}</legend>
    <p>Added on <i> {{ displayOneComp.createdAt | date:"longDate" }} </i> </p>
    <a href="http://{{displayOneComp.url}}">Job Website</a>
    <p>Role: {{displayOneComp.role}}</p>
    <p>Notes: {{displayOneComp.notes}}</p>
    <p>Status: {{displayOneComp.status}}</p>
    <div class="contact">
      <legend> Contact Person</legend>
      <p>{{displayOneComp.contact.contact_name}}</p>
      <p><a href="{{displayOneComp.contact.linkedin}}" *ngIf="displayOneComp.contact.linkedin">LinkedIn</a></p>
      <p>Email: {{displayOneComp.contact.contact_email}}</p>
      <p>Phone: {{displayOneComp.contact.phone}}</p>
      <p>Notes: {{displayOneComp.contact.note}}</p>
    </div>
  </div>

  <!--Office visit-->
  <div class="visit">
    <legend>Visiting Onsite?</legend>
    <p>{{displayOneComp.address.street}}</p>
    <p>{{displayOneComp.address.suite}}</p>
    <p>{{displayOneComp.address.city}}, {{displayOneComp.address.state}} {{displayOneComp.address.zip}}</p>
    <p><b>Weather:</b></p>
    <p>Temperature: {{weather.temp}} °F</p>
    <p>High: {{weather.maxTemp}} °F</p>
    <p>Low: {{weather.minTemp}} °F</p>
    <p>Humidity: {{weather.minTemp}}%</p>
    <p>Conditions: {{weather.sky}}</p>
  </div>
</div>



