
.form-horizontal, newentrycomponent {
    display: inline-block;
    margin-top: 50px;
    width: 60%;
}

.pull-right {
    margin-top: 30px;
    margin-right: 50px;
}

a {
    display: block;
    margin-top: 5px;
}
.dashboardcomponent {
    margin-top: 30px;
    margin-bottom: 30px;
}
legend {
    margin-top: 20px;
}
