
h1 {
    margin-bottom: 50px;
}
.form-horizontal {
    background-color: mintcream;
    padding: 25px;
    border-radius: 25px;
}
.red {
    color: red;
    font-size: 14px;

}
.linktoregister {
    margin-top: 40px;
}