
<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">

<div class="container"> 

    <!--Top navigation bar-->
  <div class="nav">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="pull-left" id="prof"> 
            <a class="btn btn-info" [routerLink]="['/homepage']" >User Profile</a>
          </div>
          <div class="pull-right" id="logout">
            <button class="btn btn-warning" (click)="logOut()">Logout</button>
          </div>
        </div>
      </div>
    </nav>      
  </div>  

  <div class="header">
      <div class="div-left">
        <h1>Welcome, {{ currentUserName }}</h1>
      </div>
      <div class="div-right">
        <h3>Job Search</h3>
          <a href="http://www.linkedin.com">LinkedIn |</a>
          <a href="http://www.indeed.com">Indeed |</a>
          <a href="http://www.monster.com">Monster</a>
      </div>
  </div>
  <div>
    <a id="addnew" [routerLink]="['/addnew']" class="btn btn-success">Add New +</a> 
  </div>
  <div class="mytable">
    <table class="table table-striped table-hover ">
      <tr>
        <th>Company Name</th>
        <th>Position</th>
        <th>Date Added</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Action</th>
      </tr>
          <tr class="success" *ngFor="let company of fetchedRecords">
              <td><a [routerLink]="['/information', company._id]"> {{company.name}} </a></td>
              <td>{{company.role}}</td>
              <td>{{company.createdAt | date:'longDate' }}</td>
              <td>{{company.status}}</td>
              <td>{{company.notes}}</td>
              <td><a class="red" (click)="delete(company._id)">Delete</a></td> 
          </tr>
    </table>
  </div>
</div>
