
<link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
<div class="container" style="text-align:center">
  <div class="registration">

    <form class="form-horizontal" #myform="ngForm" (submit)="submitRegForm(myform)">
      <fieldset>
        <legend>Registration</legend>

              <!--If form is submitted, but invalid, display this message-->
          <div class="red" *ngIf="failBool">
            <p>Form is invalid. Please try again. </p>
          </div>
          <div class="red" *ngIf="userExists">
            <p>User with that email already exists.</p>
          </div>

        <!--First Name-->
        <div class="form-group">
          <label for="fname" class="col-lg-2 control-label">First Name:</label>
          <div class="col-lg-10">
            <input type="text" name="fname" class="form-control" placeholder="Your first name"
            required
            [(ngModel)]="newuser.firstname"
            #fname="ngModel">     
          </div >
            <div class="red" *ngIf="fname.errors && (fname.touched || myform.submitted)">
              <p *ngIf="fname.errors.required">This field must not be blank</p>
            </div>
        </div>

        <!--Last Name-->
        <div class="form-group">
          <label for="lname" class="col-lg-2 control-label">Last Name:</label>
          <div class="col-lg-10">
            <input type="text"  class="form-control" name="lname" placeholder="Your last name"
            required
            [(ngModel)]="newuser.lastname"
            #lname="ngModel">
          </div>
            <div class="red" *ngIf="lname.errors && (lname.touched || myform.submitted)">
              <p *ngIf="lname.errors.required">This field must not be blank</p>
            </div>
        </div>

        <!--Email-->
        <div class="form-group">
          <label for="email" class="col-lg-2 control-label">Email:</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="email" placeholder="your@email.com"
            required
            pattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            [(ngModel)]="newuser.email"
            #email="ngModel">
          </div>
            <div class="red" *ngIf="email.errors && (email.touched || myform.submitted)">
              <p *ngIf="email.errors.required">This field must not be blank</p>
              <p *ngIf="email.errors.pattern">Please enter a valid email address</p>
            </div>
        </div>     

        <!--Password -->
        <div class="form-group">
          <label for="password" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" name="password" placeholder="Must be between 8-12 characters"
            required
            minlength="8"
            maxlength="12"
            [(ngModel)]="newuser.password"
            #password="ngModel">
          </div>
            <div class="red" *ngIf="password.errors && (password.touched || myform.submitted)">
              <p *ngIf="password.errors.required">This field must not be blank</p>
              <p *ngIf="password.errors.minlength || password.errors.maxlength">Password should be between 8-12 characters</p>
            </div>
        </div>

        <!--Confirm Password -->
        <div class="form-group">
          <label for="confirmpw" class="col-lg-2 control-label">Confirm Password:</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" name="confirmpassword" placeholder="Passwords must match"
            [(ngModel)]="newuser.confirmpassword"
            #confirmpassword="ngModel">
          </div>
            <div class="red" *ngIf="password.value !== confirmpassword.value && myform.submitted">
              <p>Password are not matching!</p>
            </div>
        </div>

        <h4> Already Registered?</h4>
        <h5>
          <a [routerLink]="['/']"> Go Back</a>
        </h5>
        <button  class="btn btn-primary">Register!</button>      
      </fieldset>
    </form>
  </div>
</div>
